<!DOCTYPE html>
<html>
<head>
<style>
.center {
  display: inline-block;
  margin: auto;
  width: 60%;
  border: 3px solid #72AD91;
  padding: 10px;
}
</style>
<div class='center'>
<h1> SKATE trick generator </h1>
{% if full_trick %}
<h2>Stance: {{ full_trick["stance"] }}</h2>
<h2>Trick: {{ full_trick["trick"] }}</h2>
<h2>Steeze:  {{ full_trick["steeze"] }}</h2>
{% endif %}

<div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
                <div class='form_group'>
                {{ form.submit }}
                </div>
</div>
</head>
</html>

